.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


* {
  box-sizing: border-box;
}

.flexbox-container {

  display: flex;
}

.homePage {

  flex-direction: column;

  flex: 1 0 0;
}

.header {

  border: 3px solid pink;

  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex: 1 0 0;

  margin-bottom: 10%;
}

.header-navBar {

  margin-right: 5%;
}

.title {
  margin-left: 1%;
}

.header-navBar > a {
  margin-right: 5%;
}

a {
  text-decoration: none;

}

.home-content {

  border: 3px solid black;
  display: flex;

  flex-direction: row;

  justify-content: center;
}


.intro {

  border: 3px solid aqua;
  display: flex;

  flex-direction: column;
  justify-content: center;


}





#profilePic > img {

  height: 100%;
  width: 60%;

  border-radius: 50%;

}

.tech-stack-section {
  border: 3px solid violet;

  display: flex;

  flex-direction: column;

  flex: 1 0 0;

}

.tech-stack {

  border: 3px solid red;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex: 1 0 0;
}

.tech-stack > p {

  margin-right: 1%;
}

#tS-Title {
  margin-right: 1%;
}
