.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


* {
  box-sizing: border-box;
}

.flexbox-container {

  display: flex;
}

.homePage {

  flex-direction: column;

  flex: 1 0 0;

  margin-bottom: 15%;
}

.header {

  width: 100%;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex: 1 0 0;

  margin-bottom: 10%;

}

.header-navBar {

  margin-right: 3%;

  font-weight: bold;
}

.title {
  margin-left: 1%;
}

.header-navBar > a {
  margin-right: 5%;
}

a {
  text-decoration: none;

}

.home-content {

  display: flex;

  flex-direction: row;

  justify-content: center;
}


.intro {

  display: flex;

  flex-direction: column;
  justify-content: center;


}

.intro > strong {

  font-size: 300%;
}

.socials > a {
  margin: 1.25%;
}






#profilePic > img {

  height: 100%;
  width: 60%;

  border-radius: 50%;

}

.tech-stack-section {

  display: flex;

  flex-direction: column;

  flex: 1 0 0;

  margin-top: 2%;

}

.tech-stack {

  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex: 1 0 0;
}

.tech-stack > img {

  height: 2%;
  width: 5%;
  margin-right: 1%;
}

#tS-Title {
  margin-right: 1%;
}




/* AboutPage ruleset */

.aboutPage {

  flex-direction: row;
  justify-content: center;

  margin-top: 30%;
  margin-bottom: 30%;

}

#aboutPic {

  width: 35%;
  height: auto;

  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.aboutText > h3 {
  color: #00a2ed;
}



/* PortfolioPage ruleset */

.projectsPage {
  flex-direction: column;
  justify-content: center;

  border: 3px solid red;

  margin-bottom: 10%;
}

.projectsPage > h3 {
  color: #00a2ed;

  
}

.project {
  border: 3px solid gold;

  display: flex;
  flex-direction: row;

  justify-content: center;
}

.project-info {
  border: 3px solid lime;

  display: flex;
  flex-direction: column;
}

.projectLinks {

  border: 3px solid black;

  display: flex;
  flex-direction: row;
  justify-content: center;

  
}




@media screen and (max-width: 600px) {

  .header, .home-content {
    flex-direction: column;
  }

  #profilePic {
    order: 1;
  }

  .intro {
    order: 2;
  }

  .header {
    margin-bottom: 2%;
  }

  .App {
    min-width: 300px;

  }

  .socials {
    width: auto;
    margin: 0;
  }

  .tech-stack > img {
    width: 12%;
  }


  /* AboutPage ruleset for mobile devices */

  .aboutPage {
    flex-direction: column;
    align-items: center;


  }

  .aboutText {
    order: 1;
  }

  #aboutPic {
    order: 2;
  }




  /* ProjectPage ruleset for mobile devices */
  .project {

    justify-content: space-between;
  }
}
